 <div class="section no-pad-bot blue accent-2">
	<div class="container">
		<div class="row center">
			<img src="pics/john_williams.jpg" alt="" class="circle">
			</div>
			<div class="row center">
				<span class="title white-text">Subramanya</span>
			</div>
		</div>
   
	</div>
	<div class="section" style="margin-top:10%;">
		<div class="container">
			<!--   Icon Section   -->
			<div class="row center">
				<a class="waves-effect waves-light btn-large light-blue darken-4 z-depth-2" style="width:120px;" ng-click="scan()">Send</a>
			</div>
			<div class="row center">
				<a class="waves-effect waves-light btn-large light-green accent-4 z-depth-2 modal-trigger" style="width:120px;"  href="#modal1">Receive</a>
			</div>
		</div>
	</div>
 <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>