<div class="section">
		<div class="container">
			<!--   Icon Section   -->
			<div class="row center" >
				<div id="qrcodeHolder"></div>
			</div>
			<div class="row center">
                <p>Scan the above QRCODE to pay Rs:{{orderAmount}}</p>
            </div>
            <div class="row center">
				<a class="waves-effect waves-light btn-large light-blue darken-4 z-depth-2" ng-click="checkstatus()">Check Status</a>
			</div>
            <div class="row center">
                <p>Order Status:{{orderStatus}}  </p>
                 <p>Goto<a href="/home">  Home</a> </p>
                
			</div>
          </div>
	</div>